pandas
asgiref==3.2.3
autopep8==1.5
bar==0.2.1
certifi==2019.11.28
chardet==3.0.4
data==0.4
decorator==4.4.2
Django==2.2.24
form==0.0.1
funcsigs==1.0.2
idna==2.9
importlib-metadata==1.5.0
include==0.2.2
Jinja2==2.11.2
MarkupSafe==1.1.1
merchant==0.1.0
path==13.1.0
prettytable==0.7.2
pycodestyle==2.5.0
pyecharts==1.7.1
pytz==2019.3
rango==0.0.2a0
requests==2.23.0
simplejson==3.17.0
six==1.15.0
sqlparse==0.3.0
tracker==0.1.1
Unidecode==1.1.1
urllib3==1.25.8
zipp==3.1.0
