{% extends 'tracker/base.html' %}
{% load static %}
{% load humanize %}
{% block body_block %}
    <nav class="navbar navbar-dark bg-dark sticky-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand mr-1 px-3" href="/tracker/m_version"> <img style="width: 30px; height: 30px;" src="{% static 'images/logo.png' %}" > COVID-19 TRACKER</a>
        <div class="dropdown">
        <button class="navbar-toggler" data-toggle="dropdown" id="navbarDropdown" aria-expanded="false"aria-haspopup="true"  data-target="#navbarsExample01" aria-controls="navbarsExample01"  >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/tracker/">Desktop Version</a>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class=" pt-4 text-center">
            {% for data in LatestData %}
            <div class="text-left">

                <h5>{{data.country.country_name}}</h5>
                
                <p class="text-secondary">Data last updated :{{data.modify_time}}</p>
            </div>
                        <div class="col-xs-12">
                            <table class="table">
                                <tr>
                                   <td>
                                    <div >New Cases <h5> {{data.cases|intcomma}}</h5></div>
                                </td> 
                                <td>
                                     <div>New Deaths <h5>{{data.deaths|intcomma}}</h5></div>
                                </td>
                                
                                </tr>
                                <tr>
                                    <td>
                                    <div >Total Cases<h5>{{data.total_cases|intcomma}}</h5></div>
                                </td>
                                    <td>
                                        
                            <div >Total Deaths<h5>{{data.total_deaths|intcomma}}</h5></div>

                                    </td>
                                </tr>
                                
                            </table>
                                                 
                           
                                                          
                        </div>
     
    

                    {% endfor %}
                </div>

                <div class="col-md-12">
                    <div class="row ">
                        <div id="main" class="col-md-6" style="height:300px;"></div>
                        <div id="new_case" class="col-md-6" style="height:300px;"></div>
                    </div>
                    <div class="row">
                        <div id="total_death" class="col-md-6" style="height:300px;"></div>
                        <div id="new_death" class="col-md-6" style="height:300px;"></div>
                    </div>
                </div>

        </div>


    </div>
    {% endblock %}
    {% block footer %}
    <!-- script for detail charts -->
     <script type="text/javascript">

        var totalCaseChart = echarts.init(document.getElementById('main'));
        var newCaseChart = echarts.init(document.getElementById('new_case'));
        var totalDeathChart = echarts.init(document.getElementById('total_death'));
        var newDeathChart = echarts.init(document.getElementById('new_death'));

        // console.log(myChart)
        $.getJSON('/tracker/country_detail/{{country_id.country_2digits_code}}/', function (data) {
            var date = []
            var total_cases_value = []
            var new_case_value = []
            var total_deaths_value = []
            var new_death_value = []
            console.log(data)
            for (let index = 0; index < data.data.length; index++) {
                const element = data.data[index];
                date[index] = element.date;
                total_cases_value[index] = element.total_cases;
                new_case_value[index] = element.cases;
                total_deaths_value[index] = element.total_deaths;
                new_death_value[index] = element.deaths;

            }

            totalCaseChart.setOption({
                title: {
                    text: 'Total Cases',
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Total Cases']
                },
                grid: {
                 containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: date
                },
                yAxis: [
                    {
                        type: 'value',
                        
                        axisLabel: {
                formatter: function (value, index) {
                  if (value >= 1000 && value < 1000000) {
                    value = value / 1000 + 'K';
                  } else if (value >= 1000000) {
                    value = value / 1000000 + 'M'
                  } else {
                    value = value;
                  }
                  return value
                }
              }
                    }
                ],
                series: [
                    {
                        name: 'Total Cases',
                        type: 'line',
                        smooth: true,
                        data: total_cases_value
                    }]
            })
            newCaseChart.setOption({
                title: {
                    text: 'New Case',
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                 containLabel: true
                },
                legend: {
                    data: ['New Case']
                },
                xAxis: {
                    type: 'category',
                    data: date
                },
                yAxis: {
                    type: 'value',
                    name: 'new case'
                },
                series: [
                    {
                        name: 'New Case',
                        type: 'bar',
                        data: new_case_value

                    }]
            })
            totalDeathChart.setOption({
                title: {
                    text: 'Total Deaths',
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                 containLabel: true
                },
                legend: {
                    data: ['Total Deaths']
                },
                xAxis: {
                    type: 'category',
                    data: date
                },
                yAxis: [
                    {
                        type: 'value',
                        name: 'total deaths'
                    }
                ],
                series: [
                    {
                        name: 'Total Deaths',
                        type: 'line',
                        smooth: true,
                        data: total_deaths_value
                    }]

            })
            newDeathChart.setOption({
                title: {
                    text: 'New Death',
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                 containLabel: true
                },
                legend: {
                    data: ['New Death']
                },
                xAxis: {
                    type: 'category',
                    data: date
                },
                yAxis: {
                    type: 'value',
                    name: 'new death'
                },
                series: [
                    {
                        name: 'New Death',
                        type: 'bar',
                        data: new_death_value

                    }]

            })

        }, 'json')
  


    </script>
 {% endblock %}

